
nav{
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
   
}
 li {
    text-decoration: none;
    padding-right: 50px;
    
}
ul li {
   
}
ul{
    list-style: none;
    display: flex;
    flex-direction: row; 
    
}

#k {
    width: 50px;
    height: 50px;
    left: 50%;
}
a {
    color: black;
    text-decoration: none;
    font: 1em bely;
    text-shadow: 1px 1px black;
}
a:hover{
    color: yellow;
}
.nav-title{
    position: relative;
    right: 10%;
}
.logo{
   width: 50px;
}
.kb-nav-title{
    color:gray;
    font-family: 'Times New Roman', Times, cursive;
}